. {
    box-sizing: border-box;
}
body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background-color: white;
    box-sizing: border-box;
    color: #000000;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 30px 60.76px;
}

.menu {
    margin: 0 0 0 ;
}


.menu ul {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu ul li {
    margin-left:40px;
}




.x {
    width: 1px;
height: 32px;

/* gray/4 */

background: #B1B5C4;
opacity: 0.5;


}

.menu ul li a {
    text-decoration: none;
    
    display: block;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* gray/2 */

color: #353945;

}
.menus{
    margin:0;
    padding:0;

}
.menus ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:0;
}
.menus ul li{
    margin-left:15px
}
.menus ul li a {
    text-decoration: none;
    font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */


display: flex;
align-items: center;

color: #777E91;
transition: 0.3s;
}
.menus ul li a:hover{
    color:#000;
}
.menus ul li a path {
    transition: 0.3s;
}
.menus ul li a:hover path {
    fill:#000;
}
.status {
    display: flex;
    justify-content: center;
    padding-left:135px;
    position: relative;

}


.status .first {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    float: left;
}

.decor {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 180px;
}

.status .pic {
    width: 50%;
    display: flex;
    float: right;
    box-sizing: border-box;
}

.pic img {
    width: 100%;
    height: 100%;
}



.h1 .intro {
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    width: 500px;
    margin-bottom:30px;


}

.intro span {
    margin: 0;
    padding: 0;
    top: 0;
    color: #e2db0d;
}

.text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */


    /* gray/3 */

    color: #777E91;
    width: 455px;
}

.second {
    margin-top: 60px;
    margin-bottom: 10px;
}

.review {
    margin-top: 30px;
}

.review ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.review ul li {
    display: inline-block;
    margin-right: 30px;
}

.review ul li label {
    display: block;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.review ul li .icon {
    color: #FFC83A;
}

.review ul li:last-child label:first-child {
    margin: 0;
    color: #3B71FE;
    font-size: 24px;
}

.review ul li:last-child label:last-child {
    font-size: 12px;
}

.trip {
    margin-top: 30px;
}

.comp {
    width: 100%;
    background-color: #F4F5F9;
    display: flex;

    align-items: center;
    justify-content: center;
}

.comp ul {
    margin: 0;
    padding: 77px 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.comp ul li {

    margin-left: 40px;
    color: #000;

}
.comp ul li:first-child{
    margin:0;
}




.input-group {
    width: 317px;

    position: relative;
}


.input-group {
    color: #000;
}

.input-group .form-control {
    box-sizing: border-box;
    ;
    width: 100%;
    background: #FFFFFF;
    box-shadow: -16px 22px 42px rgba(0, 31, 77, 0.12);
    border-radius: 31px;
    height: 68px;

    font-size: 20px;
    line-height: 24px;
    color: #23262F;
    padding-left: 44px;
    padding-right: 68px;
    outline: none;
    border: none;
}

.input-group .form-control::placeholder {}

.input-group span {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 52px;
    height: 52px;

    /* primary/primary */

    background: #3B71FE;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group i {
    color: #fff;
}

.container {
    max-width: 1170px;
    margin: auto;
    box-sizing: border-box;
}

.card-first {
    text-align: center;
    width: 40%;

    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.card-first p {
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 24px;
    margin: 0;
}

.card-first span {
    font-size: 18px;
}

.card-second {
    display: flex;
    width:75%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 70px;

}

.card-second-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 12px;

    padding: 21px 31px;

}

.card-second-mini p {
    width: 200px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    /* or 153% */

    text-align: center;
    margin: 16px 0 32.5px 0;
}

.svg {
    margin-left: 10px;
}

.color {
    background-color: #EEF9F2;
}

.seconds {
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    margin-bottom: 69px;


}

.cover {
    display: flex;
    margin: 69px 102px 69px 0;
    background-color: #FEE2B6;
    border-radius: 39px;
    width: 40%;
    padding: 40px 68px 41px 69px;
    flex-direction: column;
    width: 388px;
}

.cover-content {
    background-color: #3B71FE;
    padding: 25px 75px 2px 38px;
    border-radius: 30px 30px 0px 0px;
    color: #fff;

}

.input-second {
    width: 100%;
    color: #000;
    position: relative;
}

.input-second .form-second {
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    height: 38px;
    font-size: 14px;
    line-height: 21px;
    color: #23262F;
    padding: 8px 40px 8px 16px;
    outline: none;
    border: none;
}

.input-second span {
    position: absolute;
    top: 14px;
    right: 15px;

    width: 14px;
    height: 9px;

    /* primary/primary */

    background: #ffffff;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-second path {
    fill: #3B71FE;
}

.cover-content p:first-child {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    font-style: normal;
    margin: 0;
    margin-bottom: 9px;
}

.cover-content .content-second {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 18px;
    width: 490px;
}

.cover-content ul {
    list-style-type: none;
    padding: 0;

}

.cover-content ul li {
    display: flex;
    width: 100%;
}

.cover-content ul li svg {
    margin-right: 14px;
}

.content-in {
    width: 100%;
}

.content-in span {
    font-weight: 700;
    font-size: 16px;
    ine-height: 24px;
}

.content-in p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 6px 0 18px 0;
}

.footer {
    background-color: #fff;

    border-radius: 0 0 30px 30px;
}

.footer .footer-contents {
    color: #000;
    margin-bottom: 34px;
    font-weight: 600;
}

.footer .footer-contents span:first-child {

    font-size: 26px;
    line-height: 36px;
}

.page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 26px;
    flex-direction: row;

}



.page .page-class span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    color: #9a9ca3;
}

.page .page-class span:first-child {
    color: #000000;
}

.cover-second {
    box-sizing: border-box;
    width: 568px;
    margin: 69px 0 0 0;
}

.cover-second .content-first {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
}

.cover-second .content-second {
    width: 538px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
}

.decors {
    margin-right: 20px;
}

.decors circle {
    stroke: #3B71FE;
}

.cover-second ul {
    list-style-type: none;
    padding: 0;
}

.cover-second ul li {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
}

.content-second-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.dash {
    margin-top: 2px;
    box-sizing: border-box;

    width: 100%;
    height: 1px;

    /* gray/3 */

    border: 0.5px dashed #777E91;

}

.content-third {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0 50px 0;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 50px;
    margin-right: 10px;
    width: 80px;
}

.prof-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
}

.prof-text p:first-child {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 2px;
}

.fours {
    background-color: #EAF0FF;
}

.four {
    display: flex;
    padding-top: 71px;
    padding-bottom: 71px;

}

.content-four-left {
    width: 683px;
    margin-right: 112px;
    padding-bottom: 49px;
}

.content-four-text {
    width: 527px;
}

.content-four-text p:first-child {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height, or 150% */

    letter-spacing: -0.01em;
}

.content-four-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.content-four-bottom {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
}
.cover-four-cart {
    width:156px;
    transition: 0.3s;
  background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding:3px;
    box-sizing: border-box;
    

}
.cover-four-cart:hover {
    background-color:#c3d3fb;
}
.content-four-cart {
    background-color: #fff;
    height:100%;
    width: 100%;
    padding: 22px 27px 22px 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    box-shadow: 0px 2.21277px 8.85106px rgba(15, 15, 15, 0.08);
    border-radius: 10px;
    overflow: visible;
    box-sizing: border-box;
    
}



.content-four-cart p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.content-four-cart span {
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;

}

.decor-four {
    position: relative;
    box-sizing: border-box;
}

.decor-four img {
    position: absolute;
    right: 10px;
    margin-right: 10px;
    background-color: #000;
}

.content-four-cart svg {
    border-radius: 100px;
}

.content-four-cart img {
    border-radius: 100px;
}

.content-four-right {
    background-color: #fff;
    box-shadow: 0px 14px 40px -15px rgba(15, 15, 15, 0.08);
    border-radius: 30px;
    width: 374px;
    display: flex;
    flex-direction: column;
}

.content-four-pic {
    margin: 31px 55px 24px 24px;
    width: 295px;
    display: flex;
}

.content-four-pic img {
    width: 40px;
    height: 40px;

}

.content-four-pic h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 4px 0;
}

.content-four-pic p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    margin: 0;
}

.content-four-pic div {
    margin-left: 17px;
}

.content-four-right svg {
    margin: 0 24px 29px 24px;
}

.five {
    padding: 70px 0 70px 0;
    display: flex;
}

.content-right {
    width: 646px;
    height: 648px;
    background-color: #ffffff;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}

.content-right .content-right-one {
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 0px 40px 126px -10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 30px;
    left: 169px;
    top: 8px;
    width: 350px;
    box-sizing: border-box;
    transition: width 0.3s, transform 0.3s;
}
.content-right-one:hover{
    width: 350px;
  transform: scale(1.1);
  z-index:4;
}
.content-right-one-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-right-one-text-image{
    width:100%;
    border-radius: 16px;
    margin:23px 0 10px 0;
} 
.content-right-one-text-image img{
    margin:0;
}
.content-right-one-text h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}



.content-right-one-text-footer {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.content-right-img {
    display: flex;
}

.img-follow {
    width: 26px;
}

.test img {
    margin: 0;

}

.content-right-one-text-p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #777E91;
    margin-left:18px;
}

.content-right-one-text-footer button {
    width: 94px;
    height: 48px;
    background: #3B71FE;
    border-radius: 10px;
    border: none;
    margin-left:62px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    transition: 0.3s;
}.content-right-one-text-footer button:hover {
    background-color: #003bd2;
    font-weight: bold;
}
.content-right-one-text-footer button p {
    
}

.content-right-two {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 34px;
    background: #FFFFFF;
    box-shadow: 0px 60px 120px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    left: 430px;
    top: 132px;
    width:216px;
    box-sizing: border-box;
    transition: width 0.3s, transform 0.3s;
}
.content-right-two:hover{
    width:216px;
    transform: scale(1.1);
}
.content-right-two h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 13px;
}

.content-right-three {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 30px 23px;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 372px;
    background: #FFFFFF;
    box-shadow: 0px 12px 120px -10px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width:230px;
    box-sizing: border-box;
    transition: width 0.3s, transform 0.3s;
}
.content-right-three:hover {
    width:230px;
    transform: scale(1.1);
    z-index:4;
}
.content-right-three img{
    border-radius: 50px;
    margin-bottom:12px;
}
.content-right-three h1{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin:0;
    margin-bottom:6px;
}
.content-right-three p{
    font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #B1B5C4;
margin:0;
margin-bottom:14px;
}
.content-right-three svg{
    margin-bottom: 9px;
}
.content-right-three button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 30px 9px;
background: #3B71FE;
border-radius: 8px;
border:none;
width: 184px;
height: 34px;
font-weight: 700;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
transition: 0.3s;
}
.content-right-three button:hover {
    background: #003bd2;
}

.content-left {
    display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 0px;
width: 433px;
margin-left: 91px;
}
.content-left-h1{
    font-weight: 700;
font-size: 40px;
line-height: 60px;
letter-spacing: -0.01em;
margin:0;
margin-bottom:24px;
}
.content-left-p{
    font-weight: 400;
font-size: 18px;
line-height: 32px;
margin:0;
margin-bottom:40px;
/* or 178% */


/* gray/2 */

color: #353945;
}
.content-left ul{
    list-style-type:none;
    padding:0;
    margin:0;
}
.content-left ul li {
    display:flex;
    margin-bottom: 30px;
    
}
.content-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    margin-left:24px;
    width: 61%;
    
}
.content-left-text h1{
    font-style: normal;
    margin:0;
    font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #353945;
}
.content-left-text p {
    margin:0;
    margin-top:10px;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* gray/3 */

color: #777E91;
}
.content-left-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:60px;
    height:60px;
}
.six {
    background-color: #3B71FE;
    position: relative;
    padding:70px 205px;
    

}
.content-six {
    width:100%;
    margin:auto;
}
.content-six h1:first-child{
    font-weight: 700;
font-size: 40px;
line-height: 60px;
color:#FFFFFF;
text-align: center;
letter-spacing: -0.01em;
margin:0;
}
.content-six-text{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

text-align: center;

margin:0;
margin-top:10px;
color: #F4F5F6;
}
.content-six-foot{
    display:flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
}
.content-six-footer {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 25px 28px 15px;
    width:22.4%;
    
    box-sizing: border-box;
}
.content-six-footer h1{
    font-weight: 700;
font-size: 24px;
line-height: 36px;
margin:18px 0 2px 0;
text-align: center;
}
.content-six-footer p{
    font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

text-align: center;

margin:0;
color: #777E91;
}
.seven {
    padding:70px 0;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.seven h1{
    font-weight: 700;
font-size: 40px;
line-height: 60px;
/* identical to box height, or 150% */

letter-spacing: -0.01em;

margin:0;
color: #23262F; 
}
.content-seven {
    
    display: grid;
  grid-template-columns: 1fr 1fr; /* Chia thành 2 cột bằng nhau */
  grid-column-gap: 19.6%;
    grid-row-gap: 56px;
    margin-top:74px;
}
.seven-card div{
    display: flex;
}
.seven-card div h1{
    font-weight: 600;
font-size: 30px;
line-height: 45px;
/* identical to box height, or 150% */


/* gray/1 */

color: #23262F;
margin-left:16px;
}
.seven-card p{
    font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */

margin:0;
margin-top:20px;
color: #353945;

}
.eights {
    background-color: #FBF6C7CC;
    ;
}
.eight{
    padding:100px 0 0 0;
    width:100%;
    display:flex;
    justify-content: space-between; 
}
.content-eight-right{
    width:45.2%;
}
.content-eight-right h1{
    margin:65px 189px 24px 0;
    font-weight: 700;
font-size: 40px;
line-height: 60px;
/* or 150% */

letter-spacing: -0.01em;

/* Black/main color */

color: #141416;
}
.content-eight-right p{
    margin: 0 0 24px 0;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */


/* gray/2 */

color: #353945;

}
.eight-button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
padding: 9px 13px 8px 13px;
gap: 10px;

width: 110px;
height: 38px;
border:2px solid #3B71FE;
/* primary/primary */

background: #3B71FE;
border-radius: 6px;
color:#ffffff;
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
transition:0.3s;
}
.eight-button:hover{
    
    color:#3B71FE;
    background-color: #ffffff;
    
}
.content-eight-left {
    display: flex;
    width:37.6%;
    position: relative;
    z-index: 0;
}
.eight-svg-first {
    position: absolute;
    z-index: -1;
    left: 3%;
right: 54.59%;
top: 0%;
bottom: 0%;

}
.eight-svg-two {
    position: absolute;
    z-index:-1;
    left: 40%;
right: 54.59%;
top: 0%;
bottom: 0%;

}
.content-eight-footer {
    background-color: #FFFFFF;
    border-radius: 24px 24px 0px 0px;
    width:100%;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30px 36px;
top: 154px;
margin-top:154px;
box-sizing: border-box;
}
.content-eight-cart {
    display: flex;
align-items: center;
padding: 10px 14px;
gap: 10px;

width: 100%;
height: 52px;

/* white/white */

background: #FFFFFF;
border: 0.5px solid #D3D3D3;
transition: 0.3s;
border-radius: 10px;
margin-bottom:16px;

}
.content-eight-cart:hover{
    box-shadow: 5px 10px 12px rgba(15, 15, 15, 0.12);
}
.content-eight-cart:hover button{
    background-color: #FA8F54;

    color:#FFFFFF;
}
.content-cart-text h1{
    margin:0 0 5px 0;
    font-weight: 500;
font-size: 12px;
line-height: 15px;
}
.content-eight-mini {
    display: flex;
    align-items: center;

}
.content-eight-mini a{
    font-weight: 500;
font-size: 8px;
line-height: 10px;
/* identical to box height */


margin:0 10px 0 3.5px;

color: #777E91;
}
.content-eight-mini img{
    border-radius: 40px;
}
.content-eight-mini div{
    margin:0;display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 7px 2px 6px;
    gap: 10px;
    
    width: 44px;
    
    
    /* gray/7 */
    
    background: #F4F5F9;
    border-radius: 3px;
}
.content-eight-mini div p{
    font-weight: 500;
font-size: 6px;
line-height: 8px;
margin:0;

/* secondary/red/secondary g */

color: #FF6370;

}
.content-eight-cart button{
    width:54px;
    height:20px;
    background-color: #FEE9DD;
    border:none;
    border-radius: 10px;
    margin:0 0 0 115px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
font-size: 7px;
line-height: 8px;

transition: 0.3s;
text-align: center;
color: #FA8F54;
}
.nine {
    width:76.38%;
    margin:auto;
    padding:68px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nine-demo {
    width:268px;
}
.nine-demo-one {
    display:flex;
    align-items: center;
    margin-bottom:40px;

}
.nine-demo-one h1{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 25px;
/* identical to box height */

text-align: center;

margin:0 0 0 15px;
color: #353945;

}
.nine-demo p{
    margin:0 0 30px 0;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* gray/2 */

color: #353945;
}
.nine-input{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 8px 8px 50px;
gap: 10px;
overflow: hidden;
width:190px;
height: 49px;
border: 2px solid #E6E8EC;
border-radius: 24px;
position: relative;
transition: 0.3s;
}
.nine-input:hover  {
    padding:8px 8px 8px 26px;
    width:253px;
}
.nine-input:hover .nine-icon{
    left:210px;
    
}
.nine-input-text{

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
border:solid #fff;
width:170px;
outline: none;

transition: 0.3s;


color: #B1B5C4;
}
.nine-icon {
    position:absolute;
    top:6px;
    left:8px;
    transition: 0.4s;
}
.nine-icon rect {
    transition: 0.3s;
}
.nine-icon:hover rect{
    fill:#0235b7;
}
.nine-content {
    display:flex;
    justify-content: space-evenly;
}
.nine-content ul{
    list-style-type: none;
    padding:0;
    margin:0 0 0 152px;
}
.nine-content ul li {
    margin-bottom:14px;
}
.nine-content a {
    text-decoration: none;
    padding:0;
    margin:0;
    color: #777E90; 
    font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
transition:0.3s;

margin-bottom:14px;
}
.nine-content a:hover{
    color:#000;
}
.nine-content ul li h1{
    font-weight: 500;
font-size: 24px;
line-height: 36px;
margin-bottom:20px;
margin-top:0;
/* identical to box height, or 150% */


/* gray/2 */

color: #353945;
}
.nine-footer{
    width:100%;
    margin-top:71.83px;
    border-top: 2px solid #E6E8EC;
    display:flex;
    justify-content: space-between;
    align-items: end;
    padding:40px 0 0 0;
}
.nine-footer p{
    margin:0 0 0 11px;
    font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* gray/4 */

color: #B1B5C4;
}
.nine-footer svg{
    margin:0 11px 0 0;
}

